<div class="module-content">
  <nav class="module-menu">
    <span class="module-menu__item" ng-repeat="menuItem in $ctrl.menu">
      <a ui-sref="{{menuItem.state}}">{{menuItem.tag}}</a>
    </span>
  </nav>
  <div ui-view></div>
</div>
