<section class="section-header">
  <h1 class="main-title">Dashboard<span>&nbsp;- Statistics Overview</span></h1>
</section>
<div class="dashboard">
  <div class="grid">
    <div class="grid__col-lg-3 grid__col-md-6 pane--box" ng-disabled="true" style="cursor:not-allowed;">
      <div class="panel panel--purple">
        <div class="panel--heading">
          <div class="grid">
            <div class="grid__col-xs-3">
              <i class="fa fa-briefcase fa-4x"></i>
            </div>
            <div class="grid__col-xs-9 text-right">
              <div class="huge">32</div>
              <div class="description">Projects</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel--footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid__col-lg-3 grid__col-md-6 pane--box" ng-disabled="true" style="cursor:not-allowed;">
      <div class="panel panel--green">
        <div class="panel--heading">
          <div class="grid">
            <div class="grid__col-xs-3">
              <i class="fa fa-globe fa-4x"></i>
            </div>
            <div class="grid__col-xs-9 text-right">
              <div class="huge">18</div>
              <div class="description">Clients</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel--footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid__col-lg-3 grid__col-md-6 pane--box" ng-disabled="true" style="cursor:not-allowed;">
      <div class="panel panel--blue">
        <div class="panel--heading">
          <div class="grid">
            <div class="grid__col-xs-3">
              <i class="fa fa-bar-chart fa-4x"></i>
            </div>
            <div class="grid__col-xs-9 text-right">
              <div class="huge">6</div>
              <div class="description">Reports</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel--footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>

    <div class="grid__col-lg-3 grid__col-md-6 pane--box" ng-disabled="true" style="cursor:not-allowed;">
      <div class="panel panel--orange">
        <div class="panel--heading">
          <div class="grid">
            <div class="grid__col-xs-3">
              <i class="fa fa-address-card fa-4x"></i>
            </div>
            <div class="grid__col-xs-9 text-right">
              <div class="huge">9</div>
              <div class="description">Resources</div>
            </div>
          </div>
        </div>
        <a href="#">
          <div class="panel--footer">
            <span class="pull-left">View Details</span>
            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <hr>

  <div class="grid dashboard--grid-btnContainer">
    <div class="grid__col-dashboard-button">
      <button role="link" type="button" ui-sref="index.estimation" class="btn--dashboard btn--dashboard-estimate">
        <i class="fa fa-paper-plane-o fa-4x" aria-hidden="true"></i>
        <p>Estimate Project</p>
      </button>
    </div>

    <div class="grid__col-dashboard-button" ng-disabled="true">
      <button role="link" type="button" class="btn--dashboard">
        <i class="fa fa-rocket fa-4x" aria-hidden="true"></i>
        <p>Quick Estimations</p>
      </button>
    </div>

    <div class="grid__col-dashboard-button" ng-disabled="true">
      <button role="link" type="button" class="btn--dashboard">
        <i class="fa fa-life-ring fa-4x" aria-hidden="true"></i>
        <p>Last Month Projects</p>
      </button>
    </div>

    <div class="grid__col-dashboard-button" ng-disabled="true">
      <button role="link" type="button" class="btn--dashboard">
        <i class="fa fa-heartbeat fa-4x" aria-hidden="true"></i>
        <p>Statistics</p>
      </button>
    </div>

  </div>
</div>
