.accordion
.accordion__item{
  margin: 10px 0;
}
.accordion--round{
  .accordion__item{
    border-radius: 5px;
  }
  .accordion__header{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.accordion--primary{
  .accordion__item{
    @include colored-element($primary, #ffffff);
    .accordion__header{
      border-bottom: thin solid darken($primary, 5%);
    }
  }
}
.accordion--success{
  .accordion__item{
    @include colored-element($success, #ffffff);
    .accordion__header{
      border-bottom: thin solid darken($success, 5%);
    }
  }
}
.accordion--info{
  .accordion__item{
    @include colored-element($info, #ffffff);
    .accordion__header{
      border-bottom: thin solid darken($info, 5%);
    }
  }
}
.accordion--warning{
  .accordion__item{
    @include colored-element($warning, #ffffff);
    .accordion__header{
      border-bottom: thin solid darken($warning, 5%);
    }
  }
}
.accordion--danger{
  .accordion__item{
    @include colored-element($danger, #ffffff);
    .accordion__header{
      border-bottom: thin solid darken($danger, 5%);
    }
  }
}
.accordion--default{
  .accordion__item{
    @include colored-element($default, #212121);
    .accordion__header{
      border-bottom: thin solid darken($default, 5%);
    }
  }
}
.accordion__header{
  padding: 10px;
  &:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  .fa{
    font-size: 13px;
    transition: all 0.5s ease;
  }
}
.accordion__content{
  overflow: hidden;
  transition: all 0.5s ease;
}

.accordion__header--primary{
  @include colored-element($primary, #ffffff);
}
.accordion__header--success{
  @include colored-element($success, #ffffff);
}
.accordion__header--info{
  @include colored-element($info, #ffffff);
}
.accordion__header--warning{
  @include colored-element($warning, #ffffff);
}
.accordion__header--danger{
  @include colored-element($danger, #ffffff);
}
.accordion__header--default{
  @include colored-element($default, #ffffff);
}
