.btn {
  padding: 10px 12px;
  transition: all 0.1s linear;
  min-width: 75px;
  box-shadow: 0px 2px 2px 1px rgba(215,215,215,1);
  &:hover{
    text-decoration: none;
  }
  &:disabled{
    cursor: no-drop;
  }
}
.btn--xs{
  padding: 7px 9px;
  font-size: 55%;
  min-width: 60px;
}
.btn--small{
  font-size: 60%;
  min-width: 70px;
}
.btn--large{
  font-size: 100%;
  min-width: 90px;
}
.btn--block{
  display: block;
  width: 100%;
}
.btn--round{
  border-radius: 20px;
  min-width: 80px;
}
.btn--default {
  @include btn-config($default, black, darken($default, 3%));
}
.btn--primary {
  @include btn-config($primary, white, darken($primary, 3%));
}
.btn--success {
  @include btn-config($success, white, darken($success, 3%));
}
.btn--info {
  @include btn-config($info, white, darken($info, 3%));
}
.btn--warning {
  @include btn-config($warning, white, darken($warning, 3%));
}
.btn--danger {
  @include btn-config($danger, white, darken($danger, 3%));
}
.btn--back {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  text-decoration: underline;
  margin-bottom: 4px;
  &:hover {
    text-decoration: none;
  }
}
