.control{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.1s linear;
  border: thin solid darken($default, 55%);
}
.checkbox {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  input {
    display: none;
  }
}
.checkbox__control{
  @extend .control;
  &::before {
    position: absolute;
    right: 0;
    left: 0;
    top: 1px;
    content: "";
    height: 6px;
    width: 14px;
    transition: all 0.4s linear;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
    transform: rotate(-55deg);
  }
}
input:checked + .checkbox__control{
  @include checkbox-color(darken($default, 55%));
}
input:checked + .checkbox__control--primary{
  @include checkbox-color($primary);
}
input:checked + .checkbox__control--success{
  @include checkbox-color($success);
}
input:checked + .checkbox__control--info{
  @include checkbox-color($info);
}
input:checked + .checkbox__control--warning{
  @include checkbox-color($warning);
}
input:checked + .checkbox__control--danger{
  @include checkbox-color($danger);
}

.radio{
  @extend .checkbox;
}
.radio__control{
  @extend .control;
  border-radius: 50%;
  &::before {
    position: absolute;
    left: 3px;
    top: 3px;
    display: block;
    content: "";
    height: 12px;
    width: 12px;
    background-color: $default;
    border-radius: 50%;
    transition: all 0.4s linear;
  }
}
input:checked + .radio__control--primary{
  @include radiobutton-color($primary);
}
input:checked + .radio__control--success{
  @include radiobutton-color($success);
}
input:checked + .radio__control--info{
  @include radiobutton-color($info);
}
input:checked + .radio__control--warning{
  @include radiobutton-color($warning);
}
input:checked + .radio__control--danger{
  @include radiobutton-color($danger);
}
