.form {}
.form__ctrl{
  outline: none;
  border: thin solid #cacaca;
  &:not([type=checkbox]){
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    font-family: Roboto;
    font-weight: 300;
  }
}
.form__group {
  color: darken($default, 55%);
  margin: 20px 0;
  font-family: Roboto;
  font-weight: 300;
}
.form__group--checkbox{
  .label-checkbox{
    vertical-align: middle;
  }
}
.form__group--error {
  .form__message,
  .form__label {
    color: $danger;
    font-weight: normal;
  }
  .form__ctrl {
    border-color:$danger;
    &:focus {
      box-shadow: 0 0 3px rgba(209,44,58, 1);
      border-color: darken($danger, 10%);
    }
  }
}
.form__group--success {
  .form__message,
  .form__label {
    color: $success;
    font-weight: normal;
  }
  .form__ctrl {
    border-color:$success;
    &:focus {
      box-shadow: 0 0 3px rgba(140, 182, 29, 1);
      border-color: darken($success, 10%);
    }
  }
}
.form__ctrl {
  height: 33px;
  line-height: 1;
  padding-left: 10px;
  border: thin solid $default;
  color: darken($default, 55%);
  font-family: helvetica, arial, sans-serif;
  font-size: 85%;
  transition: all 0.2s linear;
  &:focus {
    outline: none;
    box-shadow: 0 0 3px rgba(203, 203, 203, 1);
    border-color: darken($default, 20%);
  }
}
.form__ctrl--underline{
  border: none;
  border-bottom: thin solid #cacaca;
}


// .form--inline {
//   display: flex;
//   flex-wrap: wrap;
//   .form__group {
//     margin: 5px 10px;
//     flex: 25%;
//     max-width: 25%;
//     .btn{
//       margin-top: 16px;
//     }
//   }
//   .form__btns-group {
//     padding-top: 18px;
//     margin: 0 10px;
//   }
//   .form__ctrl,
//   .form__label {
//     box-sizing: border-box;
//     display: block;
//     width: 100%;
//   }
// }
// .form--horizontal{
//   .form__group{
//     @extend .clear;
//   }
//   .form__checkbox-group,
//   .form__ctrl,
//   .form__label {
//     display: block;
//     float: left;
//   }
//   .form__checkbox-group{
//     width: 80%;
//     > div{
//       margin: 5px 0;
//     }
//   }
//   .form__label{
//     width: 20%;
//     height: 33px;
//     line-height: 33px;
//     text-align: right;
//     padding: 0 10px;
//   }
//   .form__ctrl{
//     width: 80%;
//   }
//   .form__message{
//     width: 80%;
//     margin-left: 20%;
//     float: left;
//   }
//   .form__group--xs{
//     .form__ctrl{
//       width: 25%;
//     }
//   }
//   .form__group--sm{
//     .form__ctrl{
//       width: 40%;
//     }
//   }
//   .form__group--md{
//     .form__ctrl{
//       width: 60%;
//     }
//   }
// }
// .form__fieldset {
//   display: block;
//   margin-left: 2px;
//   margin-right: 2px;
//   padding: 0.35em 0.75em 0.625em;
//   border: thin solid $default;
// }

.form__label {
  font-size: 85%;
}
.form__message{
  height: 33px;
  line-height: 33px;
  padding: 0 10px;
  margin-top: 5px;
  font-size: 75%;
  background-color: lighten($default, 5%);
}
.form__btns-group{
  text-align: center;
  .btn {
    text-transform: uppercase;
    width: 100px;
    font-size: 0.9rem;
    &:focus {
      outline: none;
    }
  }
}
//
// // Custom Styles
// .custom--form {
//   input[type=radio],
//   input[type=checkbox] {
//       border: 0;
//       clip: rect(0 0 0 0);
//       height: 1px;
//       margin: -1px;
//       overflow: hidden;
//       padding: 0;
//       position: absolute;
//       width: 1px;
//   }
//
//   input[type=radio] ~ label:before,
//   input[type=checkbox] ~ label:before {
//       font: normal normal normal 14px/1 FontAwesome;
//       display: inline-block;
//       content: "\f1db";
//       letter-spacing: 10px;
//       font-size: 1.2em;
//       color: #535353;
//       width: 1.4em;
//   }
//
//   input[type=radio]:checked ~ label:before,
//   input[type=checkbox]:checked ~ label:before  {
//       content: "\f00c";
//       font-size: 1.2em;
//       color: darken($green, 20%);
//       letter-spacing: 5px;
//   }
//   input[type=checkbox] ~ label:before {
//       content: "\f096";
//   }
//   input[type=checkbox]:checked ~ label:before {
//       content: "\f046";
//       color: darken($green, 20%);
//   }
//   input[type=radio]:focus ~ label:before,
//   input[type=checkbox]:focus ~ label:before,
//   input[type=radio]:focus ~ label,
//   input[type=checkbox]:focus ~ label {
//       color: darken($green, 3%);
//   }
// }
// .custom--form-control {
//   input, label {
//     cursor: pointer;
//   }
// }
// .custom--form-control-inline {
//   display: inline-block;
//   margin-right: 30px;
// }
