.label{
  font-size: 70%;
  padding: 3px;
}
.label--default{
  @include colored-element($default, #212121);
}
.label--primary{
  @include colored-element($primary, #ffffff);
}
.label--success{
  @include colored-element($success, #ffffff);
}
.label--info{
  @include colored-element($info, #ffffff);
}
.label--warning{
  @include colored-element($warning, #ffffff);
}
.label--danger{
  @include colored-element($danger, #ffffff);
}

.badge{
  @extend .label;
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  line-height: 1;
  min-width: 25px;
  padding: 3px 4px;
}
.badge--default{
  @include colored-element($default, #212121);
}
.badge--primary{
  @include colored-element($primary, #ffffff);
}
.badge--success{
  @include colored-element($success, #ffffff);
}
.badge--info{
  @include colored-element($info, #ffffff);
}
.badge--warning{
  @include colored-element($warning, #ffffff);
}
.badge--danger{
  @include colored-element($danger, #ffffff);
}
