.list-group{
  margin: 15px 0;
}
.list-group--striped{
  li{
    &:nth-child(odd){
      background-color: $default;
    }
  }
}
.list-group--links{
  li{
    padding: 0;
    &:hover{
      @include colored-element($primary, #ffffff);
      border-color: $primary;
    }
    a{
      padding: 12px 10px;
      display: block;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: inherit;
      text-transform: uppercase;
      font-size: 80%;
    }
  }
}
.list-group__item{
  padding: 12px 10px;
  border: thin solid $default;
  border-bottom: none;
  &:last-child{
    border-bottom: thin solid $default;
  }
  .fa,
  .badge{
    @extend .pull-right;
  }
  .fa{
    margin-right: 6px;
  }
  .badge{
    margin-top: -5px;
  }
}
.list-group__item--disabled{
  background-color: $default !important;
  color: #ffffff;
  &:hover{
    border-color: $default !important;
    background-color: $default !important;
  }
  a{
    cursor: no-drop;
  }
}
.list-group__item--active,
.list-group__item--primary{
  @include colored-element($primary, #ffffff);
  border-color: $primary;
}
.list-group__item--info{
  @include colored-element($info, #ffffff);
  border-color: $info;
}
.list-group__item--success{
  @include colored-element($success, #ffffff);
  border-color: $success;
}
.list-group__item--warning{
  @include colored-element($warning, #ffffff);
  border-color: $warning;
}
.list-group__item--danger{
  @include colored-element($danger, #ffffff);
  border-color: $danger;
}
