.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-justify{
  text-align: justify;
}
.text-light{
  font-weight: lighter;
  font-size: 90%;
}
.text-primary{
  color: $primary;
}
.text-success{
  color: $success;
}
.text-info{
  color: $info;
}
.text-warning{
  color: $warning;
}
.text-danger{
  color: $danger;
}
.text-md{
  font-size: 0.8333;
}
.text-sm{
  font-size: 0.66rem;
}
.text-xs{
  font-size: 0.50rem;
}
.text-sm
.pull-left,
.pull-right{
  display: block;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.clear{
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}
.p{
  padding-top: 10px;
}
.center-block{
  text-align: center;
  margin: 0 auto;
}
.responsive-img{
  width: 100%;
}
