.panel {
  @include colored-element( #ffffff, #414141);
  height: 100%;
  box-shadow: 0px 2px 2px 1px rgba(215,215,215,1);
}
.panel--fixed-footer{
  position: relative;
  padding-bottom: 50px;
  .panel__footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
  }
}
.panel--primary {
  @include colored-element( $primary, #ffffff);
  .panel__footer,
  .panel__header {
    border-color: darken($primary, 5%);
  }
}
.panel--success {
  @include colored-element( $success, #ffffff);
  .panel__footer,
  .panel__header {
    border-color: darken($success, 5%);
  }
}
.panel--info {
  @include colored-element( $info, #ffffff);
  .panel__footer,
  .panel__header {
    border-color: darken($info, 5%);
  }
}
.panel--warning {
  @include colored-element( $warning, #ffffff);
  .panel__footer,
  .panel__header {
    border-color: darken($warning, 5%);
  }
}
.panel--danger {
  @include colored-element( $danger, #ffffff);
  .panel__footer,
  .panel__header {
    border-color: darken($danger, 5%);
  }
}
.panel__body,
.panel__footer,
.panel__header {
  padding: 15px;
}
.panel__header {
  border-bottom: thin solid darken($default, 5%);
}
.panel__footer {
  border-top: thin solid darken($default, 5%);
}
.panel__header--primary {
  @include colored-element( $primary, #ffffff);
  border: none;
}
.panel__header--success {
  @include colored-element( $success, #ffffff);
  border: none;
}
.panel__header--info {
  @include colored-element( $info, #ffffff);
  border: none;
}
.panel__header--warning {
  @include colored-element( $warning, #ffffff);
  border: none;
}
.panel__header--danger {
  @include colored-element( $danger, #ffffff);
  border: none;
}

// Custom Panel Styles
.pane--box {
  outline: 0;
  // Fix/Hack for Estimation Tool ng-click event
  &[ng-click] {
    cursor: pointer;
  }
  &[disabled] .panel {
    opacity: 0.45;
    pointer-events: none;
  }

  .huge {
    @include fontSize(30px);
    font-weight: 500;
  }
  .description {
    @include fontSize(22px);
  }
  .panel {
    color: white;
    border: 1px solid darken($blue, 30%);
  }
  .panel--heading {
    background-color: darken($blue, 30%);
  }
  .panel--footer {
    // transition: all 0.25s ease;
    height: 35px;
    line-height: 35px;
    padding: 0 8px;
    background-color: lighten($body-bgcolor, 3%);
    a {
      display: block;
    }
  }

  .panel--blue {
    border: 1px solid $blue;
    .panel--heading {
      background-color: $blue;
    }
    .panel--footer span {
      color: $blue;
      font-weight: 400;
    }
  }
  .panel--purple {
    border: 1px solid $purple;
    .panel--heading {
      background-color: $purple;
    }
    .panel--footer span {
      color: $purple;
      font-weight: 400;
    }
  }
  .panel--green {
    border: 1px solid $green;
    .panel--heading {
      background-color: $green;
    }
    .panel--footer span {
      color: $green;
      font-weight: 400;
    }
  }
  .panel--orange {
    border: 1px solid $orange;
    .panel--heading {
      background-color: $orange;
    }
    .panel--footer span {
      color: $orange;
      font-weight: 400;
    }
  }
}
