.table{
  width: 100%;
  border-collapse: collapse;
  th{
    padding: 10px 5px 15px 5px;
    text-align: left;
  }
  td{
    padding: 10px 5px;
    font-size: 0.95rem;
  }
}

.table--zebra{
  tbody tr:nth-of-type(even){
    background-color: #f5f5f5;
  }
}

.table--white {
  background: #fff;
}
