.tabs{
  @extend .clear;
}
.tabs__group{
  @extend .clear;
}
.tabs__group--right{
  float: right;
}
.tabs__group-item{
  float: left;
  a{
    display: block;
    font-size: 85%;
    background-color: $default;
    color: darken($default, 40%);
    margin-right: 3px;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    &:hover{
      background-color: lighten($default, 5%);
    }
    .fa,
    .badge{
      display: inline-block;
    }
  }
  a.active{
    background-color: #ffffff;
  }
}
.tabs__content{
  padding: 20px;
  background-color: #ffffff;
}
