.switch {
  position: relative;
  display: inline-block;
  width: 59px;
  height: 33px;
  input {
    display: none;
  }
}
.switch--small {
  width: 41px;
  height: 23px;
  .switch__slider{
    &::before {
      height: 15px;
      width: 15px;
      left: 3px;
      bottom: 4px;
    }
  }
  input:checked + .switch__slider {
    &::before {
      transform: translateX(20px);
    }
  }
}
.switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $default;
  transition: all 0.4s linear;
  &::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: all 0.4s;
  }
}
input:checked + .switch__slider {
  &::before {
    transform: translateX(25px);
  }
}
input:checked + .switch__slider--primary{
  background-color: $primary;
}
input:checked + .switch__slider--success{
  background-color: $success;
}
input:checked + .switch__slider--info{
  background-color: $info;
}
input:checked + .switch__slider--warning{
  background-color: $warning;
}
input:checked + .switch__slider--danger{
  background-color: $danger;
}
.switch__slider--round {
  border-radius: 33px;
}
.switch__slider--round:before {
  border-radius: 50%;
}
