<ul class="menu-list">
    <li class="menu-list__item" ng-repeat="item in vm.menu track by $index">
        <h4 ng-click="vm.display(item)"><i class="fa {{item.icon}}"></i>&nbsp; {{item.section}}
          <i ng-if="!item.state" class="fa fa-chevron-down pull-right text-xs" ng-class="{cientochenta:item.show}" aria-hidden="true"></i>
        </h4>
        <ul class="submenu-list" ng-class="{'submenu-list--shown': item.show}">
            <li class="submenu-list__item" ng-repeat="subsection in item.subsections">
                <a class="a" ui-sref="{{subsection.state}}" ng-bind="subsection.tag"></a>
            </li>
        </ul>
    </li>
</ul>
