<section class="estimation-tool">
  <!-- Select Estimation Type -->
  <div class="grid">
    <div class="grid__col-xlg-auto grid__col-lg-4 grid__col-md-6 pane--box"
        ng-class="{'panel--box-opened': vm.selectedProject === $index}" ng-repeat="project in vm.projects track by $index" ng-click="vm.goToProject(project)">
      <div class="panel">
        <div class="panel--heading">
          <div class="grid">
            <div class="grid__col-xs-3">
              <i class="{{project.icon}} fa-4x"></i>
            </div>
            <div class="grid__col-xs-9 text-right">
              <div class="huge">&nbsp;</div>
              <div class="description">{{project.name}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel--footer">
        <span class="pull-left">TOTAL HOURS:</span>
        <span class="pull-right">{{vm.total}}</span>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</section>
