<div class="control-bar">
  <span role="link" class="control-bar__control" ng-click="vm.goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</span>
  <span role="button" class="control-bar__control" ng-click="alert('Save the document')"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</span>
</div>
<div class="grid">
  <div class="grid__col-xlg-auto grid__col-lg-4 grid__col-md-6 pane--box">
    <div class="panel">
      <div class="panel--heading">
        <div class="grid">
          <div class="grid__col-xs-3">
            <i class="{{vm.project.icon}} fa-4x"></i>
          </div>
          <div class="grid__col-xs-9 text-right">
            <div class="huge">&nbsp;</div>
            <div class="description">{{vm.project.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel--footer">
      <span class="pull-left">TOTAL HOURS:</span>
      <span class="pull-right">{{vm.total}}</span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<section class="grid estimation-tool-questions" in-viewport>
  <div class="questions grid__col-md-7 grid__col-xs-12">
    <form class="form custom--form">
      <div class="question" ng-repeat="question in vm.project.questions track by $index">
        <p ng-bind="question.question"></p>
        <div ng-if="question.type === 'radio'">
          <div ng-repeat="answer in question.answers track by $index" class="custom--form-control">
            <input id="{{question.model + $index}}" type="radio" ng-model="vm.estimation[question.model]" value="{{answer.value}}">
            <label for="{{question.model + $index}}">{{answer.label}}</label>
          </div>
        </div>
        <div ng-if="question.type === 'number'">
          <input type="number" ng-model="vm.estimation[question.model]">
        </div>
      </div>
    </form>
  </div>
  <div class="summary grid__col-md-5 grid__col-xs-12 text-center">
    <table ng-if="vm.total > 0" class="table table--white">
      <thead>
        <tr>
          <th style="text-align:center;font-weight:bold;">Feature</th>
          <th style="text-align:center;font-weight:bold;">Estimated time</th>
        </tr>
      </thead>
      <tbody>
        <div class="table-container">
          <tr ng-repeat="model in vm.models track by $index">
            <td ng-bind=model style="text-transform: capitalize;"></td>
            <td ng-bind="vm.estimation[model]"></td>
          </tr>
          <tr>
            <td>Total hours</td>
            <td ng-bind="vm.total"></td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</section>
