<section class="section-header">
  <h1 class="main-title">{{vm.section.section}}<span>&nbsp;- {{vm.section.subsection}}</span></h1>
</section>
<div class="control-bar">
  <span role="link" class="control-bar__control" ui-sref="index.administration.userDetail"> <i class="fa fa-user-plus" aria-hidden="true"></i> New User</span>
</div>
<div class="grid">
  <div class="grid__col-auto panel">
    <table class="table table--zebra prdgs-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Enabled</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in vm.list" ui-sref="index.administration.userDetail({id:user._id})" class="pointer">
          <td ng-bind="user.firstName"></td>
          <td ng-bind="user.lastName"></td>
          <td ng-bind="user.email"></td>
          <td class="text-center">
            <i class="fa fa-check-square-o fa-lg text-success" aria-hidden="true" ng-if="user.enabled" ng-click="vm.enableUser($event, user)"></i>
            <i class="fa fa-times fa-lg text-danger" aria-hidden="true" ng-if="!user.enabled" ng-click="vm.enableUser($event, user)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
