<section class="section-header">
  <h1 class="main-title">{{vm.section.section}}<span>&nbsp;- {{vm.section.subsection}}</span></h1>
</section>
<form class="grid form--horizontal" name="userForm" ng-submit="vm.saveUser(userForm, vm.user)">
  <div class="grid__col-sm-6 panel">
    <div class="panel__header">
      User Information
    </div>
      <div class="form__group">
        <label class="form__label" for="name">First Name:</label>
        <input class="form__control" type="text" name="name" ng-model="vm.user.firstName">
      </div>
      <div class="form__group">
        <label class="form__label" for="name">Last Name:</label>
        <input class="form__control" type="text" name="name" ng-model="vm.user.lastName">
      </div>
      <div class="form__group">
        <label class="form__label" for="name">Email:</label>
        <input class="form__control" type="email" name="name" ng-model="vm.user.email">
      </div>
      <div class="form__btns-group">
        <!--<div class="control-bar">
          <span role="link" class="control-bar__control" ng-click="vm.goBack()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</span>
          <label for="update" role="link" class="control-bar__control" ng-if="vm.user._id"><i class="fa fa-upload" aria-hidden="true"></i> Update</label>
          <label for="save" role="link" class="control-bar__control" ng-if="!vm.user._id"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</label>
        </div>-->
        <button id="save" type="submit" name="button" class="btn btn--success" ng-if="!vm.user._id">
          Save
        </button>
        <button id="update" type="submit" name="button" class="btn btn--success" ng-if="vm.user._id">
          Update
        </button>
      </div>
  </div>
</form>
