<div class="grid login-container">
  <section class="grid__col-sm-6 login">
    <div class="panel">
      <div class="panel__header">
        <h1 class="text-center">
          <img src="../resources/images/logo.png" alt="">
        </h1>
      </div>
      <div class="panel__body">
        <form name="form" class="form form--login" ng-submit="vm.login(vm.user, form)" novalidate>
          <div class="form__group form__group--error text-center">
            <p class="form__message"
              ng-if="vm.errorMessage">
              {{vm.errorMessage}}
            </p>
          </div>
          <div class="form__group"
            ng-class="{
              'form__group--success': form.email.$valid && form.email.$dirty,
              'form__group--error': form.email.$invalid && form.email.$dirty && form.email.$touched,
            }">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
            <input class="form__ctrl form__ctrl--underline" type="email" id="email" name="email" ng-model="vm.user.email" ng-required="true" placeholder="Email">
            <p class="form__message"
              ng-if="form.email.$invalid && form.email.$dirty">
              Invalid input
            </p>
          </div>
          <div class="form__group"
            ng-class="{
              'form__group--success': form.password.$valid && form.password.$dirty,
              'form__group--error': form.password.$invalid && form.password.$dirty && form.password.$touched,
            }">
            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
            <input class="form__ctrl form__ctrl--underline" type="password" id="password" name="password" ng-model="vm.user.password" ng-required="true" placeholder="Password" ng-minlength="7">
            <p class="form__message"
              ng-if="form.password.$invalid && form.password.$dirty">
              {{form.password.$error}}
            </p>
          </div>
          <div class="form__group form__group--checkbox">
            <div class="checkbox">
              <input type="checkbox" ng-model=vm.user.remember id="remember">
              <label for="remember" class="checkbox__control"></label>
            </div>
            <label class="label-checkbox" for="remember">Remember me</label>
          </div>
          <div class="form__btns-group">
            <button class="btn" ng-class="{'btn--success':form.$valid}" type="submit" ng-disabled="form.$invalid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>
