<section class="csv">
  <form class="csv-form">
    <div>
      <input class="btn btn--success" type="file" id="userFile">
    </div>
    <div>
      <button class="btn btn--default" role="button" ng-click="vm.processFile()">Submit</button>
    </div>
  </form>
</section>
