<div class="container" ng-controller="NavigationCtrl as vm">
  <aside class="main-menu">
    <div class="main-menu__header">
      <img class="large-logo" src="../resources/images/logo-gray-prdgs.png" alt="">
      <img class="small-logo" src="../resources/images/isologo-gray-prdgs.png" alt="">
    </div>
    <div class="main-menu__body">
      <!-- include menul.html here -->
      <div ng-include="'base/views/partials/menu.html'"></div>
    </div>
  </aside>
  <main class="main-content">
    <div class="main-content__bar">
      <div class="person">
        <i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>&nbsp;
        <span>Hi, {{vm.me.firstName}} {{vm.me.lastName}}</span>
      </div>
      <div class="logout">
        <a role="button" ng-click="vm.logout()">
          <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
          <span>Log out</span>
        </a>
      </div>
    </div>
    <div class="main-content__content">
      <div ui-view></div>
    </div>
  </main>
</div>
