@mixin btn-config($bgColor, $color, $borderColor) {
  background-color: $bgColor;
  color: $color;
  border: thin solid $borderColor;
  text-shadow: 1px 0px #666;
  &:hover{
    background-color: darken($bgColor, 5%);
    border: thin solid darken($borderColor, 5%);
  }
  &:active{
    background-color: darken($bgColor, 10%);
    border: thin solid darken($borderColor, 10%)
  }
  &:disabled{
    background-color: lighten($bgColor, 20%);
    border: thin solid lighten($borderColor, 20%)
  }
}
@mixin colored-element($bgColor, $color) {
  background-color: $bgColor;
  color: $color;
}
@mixin  checkbox-color ($color){
  border-color: $color;
  &::before {
    border-color: $color;
  }
}
@mixin  radiobutton-color ($color){
  border: thin solid $color;
  &::before {
    background-color: $color;
  }
}

// Conert Pixel to REM
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
