//variables

//prdgs-colors

$orange:   #d68110;
$red:      #d12c3a;
$purple:   #8f257a;
$blue:     #49acd6;
$green:    #8cb61d;

//semantic-colors

$primary:   #49acd6;
$default:   #eaeaea;
$success:   #8cb61d;
$info:      #8f257a;
$warning:   #f6881f;
$danger:    #d12c3a;
$fontColor: #1b1b1b;

//screen sizes

$screen-xs:  480px;
$screen-sm:  768px;
$screen-md:  992px;
$screen-lg: 1200px;

//common variables

$font: "Helvetica Neue", Roboto, "Droid Sans", sans-serif;
$body-bgcolor: lighten(#eff8f8, 10%);
