.control-bar{
  color: $blue;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
}
.control-bar__control{
  flex: 0 auto;
  padding: 10px;
  margin-right: 10px;
  font-weight: normal;
  background-color: white;
  box-shadow: 0px 2px 2px 1px rgba(215,215,215,1);
  transition: all 0.2s linear;
  &:hover{
    color: white;
    background-color: $blue;
  }
}
