// Global Font Styles
// Global Font Color for all elements, NOT: font-awesome icons
.h1,
.h2,
.h3,
.h4,
.h5,
.p,
.span {
  color: $fontColor;
}
.h1 {
  @include fontSize(26px);
}
.a{
  text-decoration: none;
}

.container{
  display: flex;
  height: 100%;
}
.main-menu{
  background-color: $menu-bgColor;
  flex: 0 0 60px;
  transition: flex 0.3s linear;
}
.main-content{
  flex: 0 0 calc(100% - 60px);
  transition: flex 0.3s linear;
}

@media (min-width: $screen-md) {
  .main-menu{
    flex: 0 0 180px;
  }
  .main-content{
    flex: 0 0 calc(100% - 180px);
  }
}
