.dashboard--grid-btnContainer {
  width: calc(100% - 12px);
  padding: 1em;
  & [disabled] {
    button {
      opacity: 0.17;
      pointer-events: none;
    }
    cursor: not-allowed;
  }
}
.grid__col-dashboard-button {
  padding: 0 12px 0 0;
  max-width: 170px;
}

.btn--dashboard {
  width: 140px;
  height: 140px;
  background-color: lighten($body-bgcolor, 3%);
  border: 2px solid $fontColor;
  p {
    margin-top: 12px;
    @include fontSize(20px);
  }
}
.btn--dashboard-estimate {
  border: 2px solid $orange;
  .fa {
    color: $orange;
  }
  &:hover {
    border: 3px solid darken($orange, 5%);
    .fa {
      color: darken($orange, 5%);
    }
  }
}
