.btn--estimationTool {
  display: block;
  width: 80%;
  text-align: center;
  border: 1px solid;
  height: 46px;
  line-height: 46px;
}

.estimation-tool {
  .pane--box {
    height: calc(100% - 35px);
    .panel--footer {
      display: none;
    }
    &.panel--box-opened {
      height: 100%;
      .panel--footer {
        display: block;
      }
    }
  }
  .panel--footer {
    border: 1px solid darken($blue, 30%);
  }
}

.estimation-tool-questions {
  .question {
    margin-bottom: 20px;
    > p {
      @include fontSize(20px);
      margin-bottom: 8px;
    }
  }
  .table {
    th {

    }
    td {

    }
  }
}
