.login-container {
  height: 100%;
  background-color: darken($blue, 40%);
}
.login {
  margin: auto;
}
.form--login{
  width: 320px;
  margin: auto;
  .form__group{
    position: relative;
    .fa{
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  .form__ctrl{
    &:not([type=checkbox]){
      display: block;
      margin: 20px 0px;
      width: 100%;
      padding-left: 40px;
      &:focus{
        border-bottom: 2px solid darken($blue, 40%);
      }
    }
  }
  .form__group--checkbox{
    margin-top: 25px;
    .checkbox{
      margin-left: 10px;
      margin-right: 9px;
    }
    .label-checkbox{
      padding-left: 6px;
    }
  }
  .form__group--error,
  .form__group--success{
    .form__ctrl{
      border-bottom-width: 2px;  
    }
  }
  .form__ctrl{
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  .btn--login{
    background-color: $blue;
    color: white;
    &:disabled{
      background-color: lighten($blue, 15%);
    }
  }
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: sans-serif;
  color: darken(#cacaca, 10%);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: sans-serif;
  color: darken(#cacaca, 10%);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: sans-serif;
  color: darken(#cacaca, 10%);
}
:-moz-placeholder { /* Firefox 18- */
  font-family: sans-serif;
  color: darken(#cacaca, 10%);
}


@media (min-width: $screen-md) {
  .form--login{
    width: 90%;
  }
}
