.main-menu__header {
  height: $bar-height;
  background-color: darken($blue, 30%);
  box-sizing: border-box;
  position: relative;

  .small-logo {
    transition: all 0.3s linear;
    margin-top: 3px;
  }

  .large-logo {
    height: auto;
    opacity: 0;
    transition: all 0.3s linear;
    width: 67%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -45%);
  }
}

@media (min-width: $screen-md) {
  .main-menu__header {
    .small-logo {
      width: 0;
      opacity: 0;
    }

    .large-logo {
      opacity: 1;
    }
  }

  .main-menu__body {
    padding: 15px 0;
    color: $menu-font;

    .menu-list{
      .menu-list__item{
        min-height: 50px;
        h4{
          padding: 15px 5px;
          font-size: 0.9rem;
          cursor: pointer;
          outline: none;
          &:hover{
            color: $blue
          }
          .fa.pull-right{
            transition: transform linear 0.1s;
            padding: 2px 3px;
          }
        }
      }
    }

    .submenu-list{
      background-color: darken($blue, 38%);
      border-left: 5px solid $blue;
      padding: 0;
      transition: all linear 0.2s;
      .submenu-list__item{
        padding: 0;
        padding-left: 20px;
        transition: padding-top linear 0.2s;
        max-height: 0;
        a{
          font-size: 0.9rem;
          color: inherit;
          cursor: pointer;
          display: none;
          &:hover{
            color: $blue;
          }
        }
      }
    }

    .submenu-list--shown{
      padding: 7px 0;
      .submenu-list__item{
        padding: 7px;
        padding-left: 25px;
        max-height: 50px;
        a{
          display: inline;
        }
      }
    }

  }

}
