.main-content{
  .main-content__bar{
    height: $bar-height;
    margin-bottom: 10px;
    background-color: darken($blue, 30%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .person,
    .logout{
      flex: 0 1 auto;
      padding: 0 10px;
      font-size: 98%;
      font-weight: lighter;
    }
    .person{
      text-transform: capitalize;
      color: $menu-font;
      span {
        color: $menu-font;
        position: relative;
      }
    }
    .logout{
      a{
        color: $menu-font;
        cursor: pointer;
        &:hover{
          color: $blue
        }
      }
    }
  }
  .main-content__content{
    padding: 40px;
    padding-top: 10px;
  }
}
