.module-menu{
  margin-bottom: 30px;
  .module-menu__item{
    display: inline-block;
    border-right: thin solid $fontColor;
    padding: 0 15px;
    font-size: 1.1rem;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      border: none;
    }
    a{
      text-decoration: none;
      color: $blue
    }
  }
}
