.prdgs-table{
  thead{
    border-bottom: 3px solid darken(#f5f5f5, 10%);
  }
  thead tr th{
    font-size: 1.25rem;
    text-align:center;
  }
  tbody{
    padding-top: 10px;
    tr td{
      padding-left: 15px;
    }
  }
  td{
    border-right: 1px solid darken(#f5f5f5, 10%);
    &:last-child{
      border: none;
    }
  }
}
