span[role="link"] {
  cursor: pointer;
}

.section-header{
  border-bottom: thin solid $fontColor;
  margin-bottom: 30px;
}
.main-title {
  span{
    vertical-align: middle;
  }
  span:last-child {
    &:before{
      content: "- ";
    }
    font-size: 1.2rem;
  }
  padding-bottom: 10px;
}
